@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azureb dkdmv vbdds</h1>
    <p class="lead">djbmfjdfs  dfbjsdfjds   dsfjmdsfdsjdsjdsjdsjdsvbds  djgsdsgdj  </p>
</div>
